@charset "UTF-8";

@media screen and (min-width: 768px) {
    #burger {
        display: none;
    }

    menu {
        display: block;
    }
    
    menu > ul > li {
        display: inline-block;
        border-radius: 5px;
    }

    menu > ul > li > a:hover {
        background-color: var(--cor4);
        color: var(--cor1);
        transform: translate(-5%, -5%);
    }

    main {
        width: 768px;
    }
}